* {
    background-color: #1E1E1E;
    color: white;
}

button {
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #1A1A1A;
    font-size: 10px;
    padding: 8px 10px 8px 10px;
    box-shadow: 3px 3px 3px #1A1A1A;
}

button:hover {
    background-color: #FF8C00;
    cursor: pointer;
}

button:active {
    background-color: orange;
}

.icon-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding: 0px;
    outline: none;
    box-shadow: none;
}

.icon-button:hover {
    background-color: transparent;
    cursor: pointer;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid orange;
    color: white;
    font-size: 15px;
    padding: 5px;
    outline: none;
}

svg {
    fill: orange;
}

.result-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
    padding: 10px;
}

.card {
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #1A1A1A;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    display: inline-table;
    text-decoration: none;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent;
}