:root {
    --text-color: white;
    --accent-color: orange;
    --background-color: #1E1E1E;
    --evidence-color: #2A2A2A;
    --border-color: #1F1F1F;
    --shadow-color: #1A1A1A;
    --topbar-color: #101010
}

* {
    outline: none;
    border: none;
    font-family: helvetica;
    background-color: transparent;
}

html {
    background-color: var(--background-color);
}

.icon-button:hover {
    cursor: pointer;
}

input[type="text"] {
    border-bottom: 2px solid var(--accent-color);
    color: var(--text-color);
    padding: 5px;
    font-size: 32px;
}

svg {
    fill: var(--accent-color);
}

#result-box, #season-box {
    margin-top: 80px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border-radius: 3px;
    box-shadow: 3px 3px 3px var(--shadow-color);
    background-color: var(--evidence-color);
    margin: 10px;
    width: 1px;
    display: inline-table;
    color: var(--text-color);
}

.card:hover {
    cursor: pointer;
}

.card-content {
    padding: 10px;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 1fr 0.2fr;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

dialog::backdrop {
    background-color: #00000055;
}

dialog {
    overflow: hidden;
}

.spinner {
    border: 16px solid var(--border-color);
    border-top: 16px solid var(--accent-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.top-bar, .search-box {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--topbar-color);
    box-shadow: 0px 3px 3px var(--shadow-color);
    font-size: 20px;
    padding: 0px 100px;
    height: 80px;
    top: 0px;
    right: 0px;
    left: 0px;
}

.search-box {    
    justify-content: center;
    column-gap: 10px;
}

.top-bar {
    justify-content: space-between;
}

select {
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#title-name {
    margin: 0px;
    color: var(--text-color);
}

.video-container {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

/* button {
    border: none;
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #1A1A1A;
    font-size: 10px;
    padding: 8px 10px 8px 10px;
    box-shadow: 3px 3px 3px #1A1A1A;
}

button:hover {
    background-color: #FF8C00;
    cursor: pointer;
}

button:active {
    background-color: orange;
} */